*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(59, 159, 126);
    text-align: center;
}

.container{
    height: 70vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btns{
    height: 18vmin;
    width: 18vmin;
    border-radius: 5px;
    border: none;
    font-size: 35px;
}

