*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(59, 159, 126);
    text-align: center;
}

.container{
    height: 70vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btns{
    height: 18vmin;
    width: 18vmin;
    border-radius: 5px;
    border: none;
    font-size: 35px;
    background-color: #ffffc7;
    color: black;
}

#reset{
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 6px;
    cursor: pointer;
}

.hide{
    display: none !important;
}

.msg-container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* font-size: 35px; */
}

.msg{
    /* margin-bottom: 25px; */
    font-size: 35px;
}

#newGame{
    background-color: black;
    color: white;
    padding: 6px;
    cursor: pointer;
    font-size: 20px;
}

/* main{
    display: none;
} */
